@model WebAuth.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/Uploadifive/uploadifive.css" rel="stylesheet" />

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm("Edit", "UsersAdmin", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
    <fieldset class="form-horizontal">
        <legend>Edit a user.</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ChineseName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.ChineseName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <form id="formupload">
            <div class="control-group">
                @Html.LabelFor(m => m.HeaderPhoto, new { @class = "control-label" })
                <div class="controls">
                    <img src="@Model.HeaderPhoto" alt="img" />
                </div>
                <div class="form-actions no-color">
                    <div id="queue"></div>
                    <input id="file_upload" name="file_upload" type="file" multiple="true">
                    <input type="button" value="上传头像" class="btn" id="btnUpload" />
                </div>
            </div>
           

        </form>
        <h4>Modify Role for User</h4>
        @Html.DropDownList("RoleId", "No Roles")
        <hr />
        <div class="form-actions no-color">
            <input type="submit" value="Edit" class="btn" />
        </div>
    </fieldset>
}
<hr />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   <script src="~/Scripts/jquery.uploadifive.min.js"></script>
<script type="text/javascript">
    $(function () {

        var uploader = $('#file_upload');

        $('#btnUpload').click(function () {
            uploader.uploadifive('upload');
            window.location.reload();
        });
        
        uploader.uploadifive({
            'auto': false,
            'buttonText':'选择文件',
            'formData': {
                'userId': $('#Id').val(),
                'token': 'S343AS'
            },
            'queueID': 'queue',
            'uploadScript': '/Admin/UsersAdmin/Upload',
            'onUploadComplete': function (file, data) { console.log(data); }
        });

    });
</script>

}
